body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(128,128,236,1) 0%, rgba(0,212,255,1) 100%);
}

.startBtn, 
.infoBox,
.quizBox,
.resultBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);s
}

.startBtn button {
    font-size: 25px;
    font-weight: 500;
    color: rgb(8, 0, 124);
    padding: 15px 30px;
    outline: none;
    border: rgb(255, 153, 0) 2px solid;
    border-radius: 5px;
    box-shadow: 3px 3px 8px gray;
    cursor: pointer;
}
.startBtn button:hover {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(35,35,133,1) 0%, rgba(0,212,255,1) 100%);
    color: white;
}

.infoBox {
    width: 540px;
    background-color: oldlace;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%,-50%) scale(0.9);
}

.infoBox .infoTitle {
height: 60px;
display: flex;
justify-content: center;
align-items: center;
border-bottom: 1px solid gray;
padding: 0px 30px;
font-size: 20px;
font-weight: 600;

}

.infoBox .gameInfo {
    padding: 15px 35px;

}

.infoBox .gameInfo .info {
    margin: 5px 0px;
    font-size: 15px;

}

.infoBox .gameInfo .info span {
    font-weight: 600;
    color: rgb(0, 64, 182);

}

.infoBox .buttons {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0px 35px;
    border-top: 1px solid gray;
}

.infoBox .buttons {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0px 35px;
    border-top: 1px solid gray;
}
.infoBox .buttons button {
    margin: 5px;
    height: 30px;
    width: 100%;
    border: transparent 1px solid;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.buttons button.quit {
    border-color: blue;
    color: blue;
}

.buttons button.quit:hover {
    background: rgb(255, 65, 65);
    color: white;
}

.buttons button.restart {
    border-color: blue;
    color: blue;
}
.buttons button.restart:hover {
    background: rgb(89, 89, 255);
    color: white;
}
   
 .quizBox {
     width: 550px;
     background: rgb(243, 243, 243);
     border-radius: 5px;
     opacity: 0;
     pointer-events: none;
     transform: translate(-50%,-50%) scale(0.9);

 }   

 .quizBox header {
     position: relative;
     z-index: 99;
     height: 70px;
     padding: 0px 30px;
     background: white;
     display: flex;
     align-items: center;
     justify-content: space-between;
     border-radius: 5px 5px 0px 0px;
     box-shadow: 0px 3px 5px 1px rgb(197, 197, 197);
 }

 .quizBox header .title {
     font-size: 20px;
     font-weight: 600;
}

.quizBox header .timer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25%;
    height: 50px;
    background: rgb(225, 253, 255);
    border: 1px solid rgb(185, 185, 185);
    border-radius: 5px;
    padding: 0px 8px;
}

.quizBox header .timer .timeText {
    font-size: 16px;
    font-weight: 400;
    user-select: none;

}
.quizBox header .timer .timerSec {
    font-size: 18px;
    font-weight: 500;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(32,1,1,1) 26%, rgba(166,199,207,1) 99%, rgba(78,121,130,1) 99%);
    height: 30px;
    width: 45px;
    color: white;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(175, 248, 200);
    user-select: none;
}    

.quizBox section {
    padding: 25px 30px 20px 30px;
    background: whitesmoke;

}

.quizBox section .qText {
    font-size: 25px;
    font-weight: 600;
}

.quizBox section .optionList {
    padding: 20px 0px;
    display: block;
}

section .optionList .option {
    background: aliceblue;
    border: 1px solid lightblue;
    border-radius: 5px;
    padding: 8px 15px;
    margin-bottom: 10px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.3s ease;
}
section .optionList .option:hover {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(35,35,133,1) 0%, rgba(0,212,255,1) 100%);
    color: white;
}

.optionList .option:last-child {
    margin-bottom: 0px;
}

section .optionList .option .icon {
    height: 26px;
    width: 26px;
    border: 2px solid transparent;
    border-radius: 5px;
    text-align: center;
    font-size: 13px;
    line-height: 24px;
    pointer-events: none;
}
.optionList .option .icon.tick {
    border-color:greenyellow;
    color: greenyellow;
    background: white;
}

.optionList .option .icon.cross {
    border-color: red;
    color: red;
    background: white;
}

.quizBox footer {
    height: 60px;
    width: 90%;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.quizBox footer .totalQuestions span {
    display: flex;
    user-select: none;
}

footer .nextBtn {
    height: 40px;
    padding: 0px 13px;
    font-size: 18px;
    font-weight: 400;
    border: 1px solid blue;
    border-radius: 5px;
    color: rgb(0, 60, 80);
    background: lightblue;
    cursor: pointer;
    transition: all 0.3s ease;
}

footer .nextBtn:hover {
    background: lightcoral;
    color: white;
}

.resultBox {
    background: white;
    width: 450px;
    padding: 25px 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%,-50%) scale(0.9);
    box-shadow: 3px 3px 15px black;
}

.resultBox .complete {
    font-size: 20px;
    font-weight: 600;
}

.resultBox .scoreText span {
    display: flex;
    margin: 10px 0px;
    font-size: 18px;
    font-weight: 500;
}

.scoreText span {
    font-weight: 500;
}

.resultBox .buttons {
    display: flex;
    margin: 20px 0px;
}

.resultBox .buttons button {
    margin: 0px 10px;
    height: 40px;
    padding: 0px 20px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid rgb(255, 153, 0);
    color: rgb(8, 0, 124);
    cursor: pointer;
    transition: all 0.3s ease;
}
